/lab 3/tempConverter/nbproject/private/
/lab 3/tempConverter/build/
/lab 3/tempConverter/dist/
/lab 3/QuadrEquationRoots/nbproject/private/
/lab 3/QuadrEquationRoots/build/
/lab 3/QuadrEquationRoots/dist/
