/lab 3/tempConverter/nbproject/private/
/lab 3/tempConverter/build/
/lab 3/tempConverter/dist/
/lab 3/QuadrEquationRoots/nbproject/private/
/lab 3/QuadrEquationRoots/build/
/lab 3/QuadrEquationRoots/dist/
/lab 3/TempConverterByInnerClass/nbproject/private/
/lab 3/TempConverterByInnerClass/build/
/lab 3/TempConverterByInnerClass/dist/
/lab 4/ExcepionHandling/nbproject/private/
/lab 4/ExcepionHandling/build/
/lab 4/ExcepionHandling/dist/
/lab 4/generics1/nbproject/private/
/lab 4/generics1/build/
/lab 4/generics1/dist/
/lab 4/complexGenericInterface/nbproject/private/
/lab 4/complexGenericInterface/build/
/lab 4/complexGenericInterface/dist/
